<ion-content> 
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Emissão de Senhas
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="assets/senha.png" style="margin-top: 20px;"></ion-img>
  
  <div style="text-align: center;">
    <ion-button size="large">Senha prioritaria</ion-button> <br>
    <ion-button size="large">Senha geral</ion-button> <br>
    <ion-button size="large">Senha exames</ion-button>
    <ion-input label="CPF do cliente" label-placement="floating" fill="outline" placeholder="99999999999"></ion-input>
  </div>

</ion-content>
